service vendor.hwcomposer-hal-2-4  /vendor/bin/hw/android.hardware.graphics.composer@2.4-service.renesas
    priority -20
    class early_hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
